#carouselExampleControls {

    width: 60%;
      margin: auto;
}

.separador {
    text-align: center;
    padding: 40px 20px;
    background-color: #dcd8f1; /* Color de fondo suave */
    margin: 20px 0;
  }
  body {
    background-color: #f9a8e4; /* Un color gris claro, puedes cambiarlo */
}
